@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  min-height: 100vh;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  background-color: #585858;
  opacity: 0.5;
}

.card {
  padding: 0;
}

.card-image {
  aspect-ratio: 16/9;
}

.card:hover {
  padding: 0;
  transform: scale(1.05);
}

/* --- Carousel --- */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --- Loader --- */
.line-2-vertical {
  --size: 100px;
  --stroke-width: calc(var(--size) / 6);
  --color: currentColor;
  --animation-timing-function: linear;
  --animation-duration: 1s;
  position: relative;
  width: var(--size);
  height: var(--size);
  transform: rotate(90deg);
}

.line-2-vertical::before,
.line-2-vertical::after {
  content: '';
  position: absolute;
  transform: scaleY(1);
  animation: var(--animation-timing-function) var(--animation-duration) infinite line-2-vertical-animation;
}

.line-2-vertical::before {
  inset: 0;
  border-right: var(--stroke-width) solid var(--color);
  border-left: var(--stroke-width) solid var(--color);
}

.line-2-vertical::after {
  top: 0;
  bottom: 0;
  left: calc(50% - var(--stroke-width) / 2);
  border-left: var(--stroke-width) solid var(--color);
  animation-delay: calc(var(--animation-duration) / 2);
}

@keyframes line-2-vertical-animation {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(.5);
  }

  100% {
    transform: scaleY(1);
  }
}

@media screen and (max-width: 480px) {
  .footer-content {
    display: none;
  }
  .footer-bottom {
    margin-block: 10px;
    justify-content: center;
    align-items: center;
  }
}
